/* ear */
.capoo .ear-left::after {
  background-color: var(--capoo-blue);
}
.capoo .ear-right-inner {
  background-color: var(--capoo-blue);
}
/* body */
.capoo .body .body-rounded {
  background-color: var(--capoo-blue);
}

/* abdomin */
.capoo .body .body-rounded::after {
  content: "";
  width: 60%;
  height: 24.5%;
  rotate: 5deg;
  clip-path: ellipse(25% 40% at 50% 50%);
  background-color: white;
  position: absolute;
  top: 77.5%;
  left: 7.8%;
  z-index: 9;
  animation: capoo-walk-abdomin 2s linear infinite;
}

/* tail */
.capoo .body .tail {
  top: 19%;
  left: 54%;
}
.capoo .body .tail .tail-inner {
  width: 40%;
  height: 49%;
  background-color: var(--capoo-blue);
  position: absolute;
  top: 1%;
  left: -1%;
  clip-path: polygon(
    0 5%,
    70% 14%,
    93% 12%,
    95% 13%,
    97% 20%,
    100% 30%,
    99% 40%,
    97% 50%,
    94% 60%,
    91% 70%,
    87% 80%,
    80% 90%,
    65% 95%,
    60% 100%
  );
  z-index: 10;
  scale: 0.9;
}
.capoo .body .tail .tail-outline {
  width: 40%;
  height: 49%;
  background-color: var(--capoo-black);
  position: absolute;
  clip-path: polygon(
    0 5%,
    70% 14%,
    93% 12%,
    95% 13%,
    97% 20%,
    100% 30%,
    99% 40%,
    97% 50%,
    94% 60%,
    91% 70%,
    87% 80%,
    80% 90%,
    65% 95%,
    60% 100%
  );
}
/* back-line */
.capoo .body .tail .tail-line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: -1%;
}
/* 第一條線 */
.capoo .body .tail .tail-line::before {
  content: "";
  width: 5%;
  height: 10%;
  background-color: var(--capoo-back-blue);
  position: absolute;
  top: 6.2%;
  left: 10%;
  border-radius: 0 0 60% 40%;
  rotate: 9deg;
  z-index: 10;
}
/* 第二條線 */
.capoo .body .tail .tail-inner::before {
  content: "";
  width: 14.2%;
  height: 27.2%;
  background-color: var(--capoo-back-blue);
  position: absolute;
  top: 6%;
  left: 46%;
  border-radius: 0 0 60% 20%;
  rotate: 5deg;
  z-index: 10;
}
/* 第三條線 */
.capoo .body .tail .tail-inner::after {
  content: "";
  width: 11.4%;
  height: 22.7%;
  background-color: var(--capoo-back-blue);
  position: absolute;
  top: 11.4%;
  left: 70%;
  border-radius: 0 0 80% 20%;
  rotate: 5deg;
  z-index: 10;
}

/* eye */
.capoo .body .eye .eye-left {
  width: 7%;
  height: 14%;
  clip-path: ellipse(50% 40% at 50% 50%);
  rotate: 10deg;
  background-color: var(--capoo-black);
  position: absolute;
  top: 36%;
  left: 17%;
  z-index: 6;
}
.capoo .body .eye .eye-right {
  width: 9%;
  height: 15%;
  rotate: -5deg;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  top: 36%;
  left: 48%;
  z-index: 6;
}
/* mouth */
/* mouth-left */
.capoo .body .mouth .mouth-left {
  width: 8%;
  height: 8%;
  position: absolute;
  top: 41%;
  left: 28%;
  rotate: 5deg;
  z-index: 7;
}
.capoo .body .mouth .mouth-left .mouth-round {
  /* mouth-outline */
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 6;
}
.capoo .body .mouth .mouth-left .mouth-round::after {
  /* mouth-inner */
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-blue);
}
.capoo .body .mouth .mouth-left .mouth-cover {
  width: 100%;
  height: 50%;
  background-color: var(--capoo-blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}
/* mouth */
/* mouth-right */
.capoo .body .mouth .mouth-right {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 39.6%;
  left: 33%;
  rotate: -5deg;
  z-index: 7;
}
.capoo .body .mouth .mouth-right .mouth-round {
  width: 100%;
  height: 100%;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 6;
}
.capoo .body .mouth .mouth-right .mouth-round::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-blue);
}
.capoo .body .mouth .mouth-right .mouth-cover {
  width: 100%;
  height: 58%;
  background-color: var(--capoo-blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

/* feet */
/* foot */
.capoo .feet .foot .foot-inner {
  background-color: var(--capoo-blue);
}
.capoo .feet .foot .foot-cover {
  background-color: var(--capoo-blue);
}
.capoo .feet .foot.foot-left-1 {
  animation-name: capoo-walk-foot-left-1;
}
.capoo .feet .foot.foot-left-2 {
  animation-name: capoo-walk-foot-left-2;
}
.capoo .feet .foot.foot-left-3 {
  left: 73%;
  animation-name: capoo-walk-foot-left-3;
}
.capoo .feet .foot.foot-left-3 .foot-cover {
  border-radius: 0 0 10% 0;
}
.capoo .feet .foot.foot-right-1 {
  animation-name: capoo-walk-foot-right-1;
}
.capoo .feet .foot.foot-right-2 {
  animation-name: capoo-walk-foot-right-2;
}
.capoo .feet .foot.foot-right-3 {
  animation-name: capoo-walk-foot-right-3;
}
/* 動畫 */
@keyframes capoo-walk-foot-left-1 {
  0% {
    transform: rotate(-7deg);
    top: 57%;
  }
  10% {
    transform: rotate(-10deg);
    top: 57%;
  }
  25% {
    transform: rotate(0);
    top: 57%;
  }
  50% {
    transform: rotate(10deg);
    top: 56%;
  }
  75% {
    transform: rotate(0);
    top: 57%;
  }
  100% {
    transform: rotate(-7deg);
    top: 57%;
  }
}
@keyframes capoo-walk-foot-left-2 {
  0% {
    transform: rotate(-5deg);
    top: 57%;
  }
  25% {
    transform: rotate(5deg);
    top: 56%;
  }
  50% {
    transform: rotate(-5deg);
    top: 57%;
  }
  85% {
    transform: rotate(-15deg);
    top: 56%;
  }
  100% {
    transform: rotate(-5deg);
    top: 57%;
  }
}
@keyframes capoo-walk-foot-left-3 {
  0% {
    transform: rotate(5deg);
    top: 54.6%;
  }
  25% {
    transform: rotate(-5deg);
    top: 55%;
  }
  60% {
    transform: rotate(-15deg);
    top: 54.6%;
  }
  75% {
    transform: rotate(-5deg);
    top: 55%;
  }
  100% {
    transform: rotate(5deg);
    top: 54.6%;
  }
}
@keyframes capoo-walk-foot-right-1 {
  0% {
    transform: rotate(10deg);
    top: -5;
  }
  25% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-10deg);
  }
  85% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
    top: -5;
  }
}
@keyframes capoo-walk-foot-right-2 {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes capoo-walk-foot-right-3 {
  0% {
    transform: rotate(-7deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@keyframes capoo-walk-abdomin {
  0% {
    top: 77.5%;
    left: 7.8%;
  }
  25% {
    top: 76%;
    left: 7.3%;
  }
  50% {
    top: 77.5%;
    left: 7%;
  }
  75% {
    top: 76%;
    left: 7.3%;
  }
  100% {
    top: 77.5%;
    left: 7.8%;
  }
}
