/* ear */
.black-capoo .ear-left::after {
  background-color: var(--capoo-body-black);
}
.black-capoo .ear-right-inner {
  background-color: var(--capoo-body-black);
}
/* body */
.black-capoo .body .body-rounded {
  background-color: var(--capoo-body-black);
}

/* eye */
.black-capoo .body .eye .eye-cover {
  width: 120%;
  height: 30%;
  position: absolute;
  background-color: var(--capoo-body-black);
  z-index: 8;
  top: 5%;
}
.black-capoo .body .eye .eye-lash {
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: var(--capoo-black);
  bottom: 0;
  z-index: 9;
}
.black-capoo .body .eye .eye-outline {
  width: 100%;
  height: 100%;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 6;
}
.black-capoo .body .eye .eye-inner {
  width: 100%;
  height: 100%;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-eye-yellow);
  position: absolute;
  z-index: 7;
  scale: 0.6;
}
.black-capoo .body .eye .eye-left {
  width: 7%;
  height: 14%;
  rotate: 10deg;
  position: absolute;
  top: 36%;
  left: 17%;
  z-index: 6;
}
.black-capoo .body .eye .eye-left .eye-cover {
  left: 5%;
  rotate: 30deg;
}
.black-capoo .body .eye .eye-right .eye-cover {
  left: -15%;
  rotate: -30deg;
}
.black-capoo .body .eye .eye-right {
  width: 9%;
  height: 15%;
  rotate: -5deg;
  position: absolute;
  top: 36%;
  left: 48%;
  z-index: 6;
}

/* tail */
.black-capoo .body .tail {
  top: 20%;
  left: 54%;
}
.black-capoo .body .tail .tail-inner {
  width: 40%;
  height: 47%;
  background-color: var(--capoo-body-black);
  position: absolute;
  top: 1%;
  left: -1%;
  clip-path: polygon(
    0 5%,
    20% 1%,
    25% 0,
    30% 1%,
    40% 7%,
    55% 6%,
    60% 5%,
    65% 6%,
    70% 14%,
    93% 12%,
    95% 13%,
    97% 20%,
    100% 30%,
    99% 40%,
    97% 50%,
    94% 60%,
    91% 70%,
    87% 80%,
    80% 90%,
    65% 95%,
    60% 100%
  );
  z-index: 10;
  scale: 0.9;
}
.black-capoo .body .tail .tail-outline {
  width: 40%;
  height: 47%;
  background-color: var(--capoo-black);
  position: absolute;
  clip-path: polygon(
    0 5%,
    20% 1%,
    25% 0,
    30% 1%,
    40% 7%,
    55% 6%,
    60% 5%,
    65% 6%,
    70% 14%,
    93% 12%,
    95% 13%,
    97% 20%,
    100% 30%,
    99% 40%,
    97% 50%,
    94% 60%,
    91% 70%,
    87% 80%,
    80% 90%,
    67% 95%,
    60% 100%
  );
}
/* back-line */
/* 第一條閃電 */
.black-capoo .body .tail .tail-inner::before {
  content: "";
  width: 35%;
  height: 45%;
  background-color: var(--capoo-thunder-black);
  position: absolute;
  top: -10%;
  left: 10%;
  clip-path: polygon(
    0 35%,
    40% 0,
    90% 40%,
    70% 45%,
    100% 70%,
    45% 100%,
    50% 80%,
    20% 75%,
    30% 50%
  );
  rotate: -5deg;
  z-index: 10;
}
/* 第二條閃電 */
.black-capoo .body .tail .tail-inner::after {
  content: "";
  width: 35%;
  height: 45%;
  background-color: var(--capoo-thunder-black);
  position: absolute;
  top: -7%;
  left: 45%;
  clip-path: polygon(
    0 35%,
    40% 0,
    90% 40%,
    70% 45%,
    100% 70%,
    45% 100%,
    50% 80%,
    20% 75%,
    30% 50%
  );
  rotate: 10deg;
  z-index: 10;
}

/* mouth */
/* mouth-left */
.black-capoo .body .mouth .mouth-left {
  width: 8%;
  height: 8%;
  position: absolute;
  top: 40%;
  left: 27%;
  rotate: -35deg;
  z-index: 7;
}
.black-capoo .body .mouth .mouth-round {
  /* mouth-outline */
  width: 100%;
  height: 100%;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 6;
}
.black-capoo .body .mouth .mouth-left .mouth-round::after {
  /* mouth-inner */
  content: "";
  position: absolute;
  top: 20%;
  left: -5%;
  width: 100%;
  height: 50%;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-body-black);
}
.black-capoo .body .mouth .mouth-left .mouth-cover {
  width: 100%;
  height: 50%;
  background-color: var(--capoo-body-black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}
/* mouth */
/* mouth-right */
.black-capoo .body .mouth .mouth-right {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 38%;
  left: 34%;
  rotate: 30deg;
  z-index: 7;
}
.black-capoo .body .mouth .mouth-right .mouth-round::after {
  /* mouth-inner */
  content: "";
  position: absolute;
  top: 25%;
  left: -5%;
  width: 120%;
  height: 50%;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-body-black);
}
.black-capoo .body .mouth .mouth-right .mouth-cover {
  width: 100%;
  height: 58%;
  background-color: var(--capoo-body-black);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

/* feet */
/* foot */
.black-capoo .feet .foot .foot-inner {
  background-color: var(--capoo-body-black);
}
.black-capoo .feet .foot .foot-cover {
  background-color: var(--capoo-body-black);
}
.black-capoo .feet .foot.foot-left-1 {
  animation-name: black-capoo-walk-foot-left-1;
}
.black-capoo .feet .foot.foot-left-2 {
  animation-name: black-capoo-walk-foot-left-2;
}
.black-capoo .feet .foot.foot-left-3 {
  left: 72%;
  animation-name: black-capoo-walk-foot-left-3;
}
.black-capoo .feet .foot.foot-left-3 .foot-cover {
  border-radius: 0 0 20% 0;
}
.black-capoo .feet .foot.foot-right-1 {
  animation-name: black-capoo-walk-foot-right-1;
}
.black-capoo .feet .foot.foot-right-2 {
  animation-name: black-capoo-walk-foot-right-2;
}
.black-capoo .feet .foot.foot-right-3 {
  animation-name: black-capoo-walk-foot-right-3;
}
/* 動畫 */
@keyframes black-capoo-walk-foot-left-1 {
  0% {
    transform: rotate(-7deg);
    top: 57%;
  }
  10% {
    transform: rotate(-10deg);
    top: 57%;
  }
  25% {
    transform: rotate(0);
    top: 57%;
  }
  50% {
    transform: rotate(10deg);
    top: 56%;
  }
  75% {
    transform: rotate(0);
    top: 57%;
  }
  100% {
    transform: rotate(-7deg);
    top: 57%;
  }
}
@keyframes black-capoo-walk-foot-left-2 {
  0% {
    transform: rotate(-5deg);
    top: 57%;
  }
  25% {
    transform: rotate(5deg);
    top: 56%;
  }
  50% {
    transform: rotate(-5deg);
    top: 57%;
  }
  85% {
    transform: rotate(-15deg);
    top: 56%;
  }
  100% {
    transform: rotate(-5deg);
    top: 57%;
  }
}
@keyframes black-capoo-walk-foot-left-3 {
  0% {
    transform: rotate(5deg);
    top: 54.6%;
  }
  25% {
    transform: rotate(-5deg);
    top: 55%;
  }
  60% {
    transform: rotate(-15deg);
    top: 54.6%;
  }
  75% {
    transform: rotate(-5deg);
    top: 55%;
  }
  100% {
    transform: rotate(5deg);
    top: 54.6%;
  }
}
@keyframes black-capoo-walk-foot-right-1 {
  0% {
    transform: rotate(10deg);
    top: -5;
  }
  25% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-10deg);
  }
  85% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
    top: -5;
  }
}
@keyframes black-capoo-walk-foot-right-2 {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes black-capoo-walk-foot-right-3 {
  0% {
    transform: rotate(-7deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-7deg);
  }
}
