<div class="cover black-capoo">
  <div class="ear">
    <div class="ear-left"></div>
    <div class="ear-right">
      <div class="ear-right-outline"></div>
      <div class="ear-right-inner"></div>
    </div>
  </div>
  <div class="body">
    <div class="body-round">
      <div class="body-rounded"></div>
      <div class="body-rounded-outline"></div>
    </div>
    <div class="tail">
      <div class="tail-inner"></div>
      <div class="tail-outline"></div>
    </div>
    <div class="eye">
      <div class="eye-left">
        <div class="eye-cover">
          <div class="eye-lash"></div>
        </div>
        <div class="eye-inner"></div>
        <div class="eye-outline"></div>
      </div>
      <div class="eye-right">
        <div class="eye-cover">
          <div class="eye-lash"></div>
        </div>
        <div class="eye-inner"></div>
        <div class="eye-outline"></div>
      </div>
    </div>
    <div class="mouth">
      <div class="mouth-left">
        <div class="mouth-round"></div>
        <div class="mouth-cover"></div>
      </div>
      <div class="mouth-right">
        <div class="mouth-round"></div>
        <div class="mouth-cover"></div>
      </div>
    </div>
  </div>
  <div class="feet">
    <div class="foot foot-right-1">
      <div class="foot-cover"></div>
      <div class="foot-outline"></div>
      <div class="foot-inner"></div>
    </div>
    <div class="foot foot-right-2">
      <div class="foot-cover"></div>
      <div class="foot-outline"></div>
      <div class="foot-inner"></div>
    </div>
    <div class="foot foot-right-3">
      <div class="foot-cover"></div>
      <div class="foot-outline"></div>
      <div class="foot-inner"></div>
    </div>
    <div class="foot foot-left-1">
      <div class="foot-cover"></div>
      <div class="foot-outline"></div>
      <div class="foot-inner"></div>
    </div>
    <div class="foot foot-left-2">
      <div class="foot-cover"></div>
      <div class="foot-outline"></div>
      <div class="foot-inner"></div>
    </div>
    <div class="foot foot-left-3">
      <div class="foot-cover"></div>
      <div class="foot-outline"></div>
      <div class="foot-inner"></div>
    </div>
  </div>
</div>
