<div class="choose">
  <div class="title">請選擇棋子</div>
  <div class="players">
    <div class="player playerA">
      <div class="player-name">玩家Ａ</div>
      <div class="now-piece">目前棋子：{{ playerAPieceName }}</div>
      <div class="input-group">
        <input
          type="radio"
          id="playerA-capoo"
          name="playerA"
          (click)="setPlayerPiece('A', 1)"
        />
        <label for="playerA-capoo">咖波</label>
      </div>
      <div class="input-group">
        <input
          type="radio"
          id="playerA-black-capoo"
          name="playerA"
          (click)="setPlayerPiece('A', 2)"
        />
        <label for="playerA-black-capoo">黑貓蟲哥哥</label>
      </div>
      <div class="input-group">
        <input
          type="radio"
          id="playerA-chicken"
          name="playerA"
          (click)="setPlayerPiece('A', 3)"
        />
        <label for="playerA-chicken">小雞</label>
      </div>
    </div>
    <div class="player playerB">
      <div class="player-name">玩家B</div>
      <div class="now-piece">目前棋子：{{ playerBPieceName }}</div>
      <div class="input-group">
        <input
          type="radio"
          id="playerB-capoo"
          name="playerB"
          (click)="setPlayerPiece('B', 1)"
        />
        <label for="playerB-capoo">咖波</label>
      </div>
      <div class="input-group">
        <input
          type="radio"
          id="playerB-black-capoo"
          name="playerB"
          (click)="setPlayerPiece('B', 2)"
        />
        <label for="playerB-black-capoo">黑貓蟲哥哥</label>
      </div>
      <div class="input-group">
        <input
          type="radio"
          id="playerB-chicken"
          name="playerB"
          (click)="setPlayerPiece('B', 3)"
        />
        <label for="playerB-chicken">小雞</label>
      </div>
    </div>
  </div>
  <button class="set-piece" (click)="setPiece()">設定棋子</button>
</div>

<div class="model">
  <div class="bugcat">
    <app-capoo></app-capoo>
  </div>
  <div class="bugcat">
    <app-black-capoo></app-black-capoo>
  </div>
  <div class="bugcat">
    <app-chicken></app-chicken>
  </div>
</div>
