/* You can add global styles to this file, and also import other style files */
:root {
  --capoo-blue: rgb(78, 194, 228);
  --capoo-back-blue: rgb(63, 154, 188);
  --capoo-black: rgb(62, 61, 61);
  --capoo-thunder-black: rgb(70, 70, 70);
  --capoo-body-black: rgb(87, 87, 87);
  --capoo-eye-yellow: rgb(255, 247, 123);
  --chicken-body-yellow: rgb(255, 242, 121);
  --chicken-border: rgb(70, 70, 70);
  --chicken-mouse: rgb(255, 212, 107);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button:hover {
  cursor: pointer;
}
.cover {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
/* capoo and blackcapoo */
.cover .ear-left {
  width: 20%;
  height: 20%;
  clip-path: polygon(
    0% 100%,
    15% 60%,
    20% 50%,
    30% 40%,
    40% 30%,
    45% 26%,
    50% 25%,
    55% 28%,
    60% 32%,
    65% 35%,
    70% 40%,
    80% 50%,
    85% 55%,
    90% 60%,
    95% 65%,
    99% 80%,
    100% 100%
  );
  background-color: var(--capoo-black);
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 1;
  scale: 1.2;
}
.cover .ear-left::after {
  content: "";
  position: absolute;
  width: 83%;
  height: 100%;
  top: 10%;
  left: 10%;
  clip-path: polygon(
    0% 100%,
    15% 60%,
    20% 50%,
    30% 40%,
    40% 30%,
    45% 26%,
    50% 25%,
    55% 28%,
    60% 32%,
    65% 35%,
    70% 40%,
    80% 50%,
    85% 55%,
    90% 60%,
    95% 65%,
    99% 80%,
    100% 100%
  );
}
.cover .ear-right {
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: 10;
  top: 14%;
  left: 44%;
}
.cover .ear-right-outline {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0% 60%,
    10% 40%,
    20% 25%,
    30% 12%,
    45% 5%,
    52% 8%,
    60% 15%,
    70% 30%,
    80% 42%,
    100% 75%
  );
  background: var(--capoo-black);
}
.cover .ear-right-inner {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  top: 12%;
  left: 8%;
  clip-path: polygon(
    0% 60%,
    10% 40%,
    20% 25%,
    30% 12%,
    45% 5%,
    52% 8%,
    60% 15%,
    70% 30%,
    80% 42%,
    100% 75%
  );
  z-index: 7;
}
/* body */
.cover .body {
  width: 100%;
  height: 100%;
  position: absolute;
}
.cover .body .body-round {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  top: 20%;
}
.cover .body .body-rounded {
  width: 77%;
  height: 49%;
  clip-path: inset(4% 5.2% 12.2% 2.6% round 45% 40% 30% 35%);
  position: absolute;
  top: 2.6%;
  left: 2.6%;
  z-index: 6;
}
.cover .body .body-rounded-outline {
  width: 82%;
  height: 54%;
  position: absolute;
  clip-path: inset(3.7% 4.9% 11.1% 2.4% round 45% 40% 30% 35%);
  background-color: var(--capoo-black);
  z-index: 5;
}
/* eye */
.cover .body .eye {
  width: 100%;
  height: 100%;
  position: relative;
}
/* tail */
.cover .body .tail {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
}
/* feet */
/* foot */
.capoo .feet .foot,
.black-capoo .feet .foot {
  width: 12%;
  height: 16%;
  position: absolute;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.capoo .feet .foot .foot-outline,
.black-capoo .feet .foot .foot-outline {
  width: 100%;
  height: 100%;
  clip-path: ellipse(35% 40% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 7;
}
.capoo .feet .foot .foot-inner,
.black-capoo .feet .foot .foot-inner {
  width: 100%;
  height: 100%;
  clip-path: ellipse(40% 40% at 50% 50%);
  position: absolute;
  top: 6.2%;
  left: 0;
  z-index: 7;
  scale: 0.5;
}
.capoo .feet .foot .foot-cover,
.black-capoo .feet .foot .foot-cover {
  width: 70%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 8;
}
.capoo .feet .foot.foot-left-1,
.black-capoo .feet .foot.foot-left-1 {
  top: 58%;
  left: 50%;
  z-index: 10;
}
.capoo .feet .foot.foot-left-2,
.black-capoo .feet .foot.foot-left-2 {
  top: 57%;
  left: 61%;
  rotate: -5deg;
  z-index: 10;
}
.capoo .feet .foot.foot-left-3,
.black-capoo .feet .foot.foot-left-3 {
  scale: 1.1;
  z-index: 10;
}
.capoo .feet .foot.foot-right-1,
.black-capoo .feet .foot.foot-right-1 {
  top: 56%;
  left: 24%;
  z-index: 1;
  transform-origin: top center;
}
.capoo .feet .foot.foot-right-2,
.black-capoo .feet .foot.foot-right-2 {
  top: 56.4%;
  left: 40%;
  z-index: 1;
  transform-origin: top center;
}
.capoo .feet .foot.foot-right-3,
.black-capoo .feet .foot.foot-right-3 {
  top: 56%;
  left: 53%;
  z-index: 1;
  transform-origin: top center;
}
